#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Qt;Internet;Download;
Comment=yoDownet, The Previous Generation Graphical Download Manager, Implemented on Qt
Icon=yoDownet_64.svg
Exec=yoDownet
Name=yoDownet
Type=Application
